body{
  margin:0;
  padding: 0;
}

.sidebar{
  margin: 0;
  float: left;
  width: 200px;
  height: 100vh;
  text-align: center;
  box-shadow: 0 0 7px 0 #777;
  position:fixed;
}
.sidebar h1{

  font-size: 27px;
}
.sidebar ul{
  margin: 0;
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li a
{
  text-decoration: none;
  color: black;
  padding: 10px;
  display: block;
  box-shadow: 0 0 1px 0 #777;
}

.menubtn:hover{
  background-color: #2ecc71;
  transition: 1s;
}

#logout:hover{
  color: white;
  background-color: #EE0808;
  transition: 1s;
}

.container{
  padding-top:50px;
  height: 100vh;
  background-image: url("backgroundimg.png");
  background-size: 1440px 800px;
  margin-top: 0px;
  margin-left: 200px;
}

.containerregister{
  padding-top:50px;
  height: 130vh;
  background-image: url("backgroundimg.png");
  background-size: 1440px 1100px;
  margin-top: 0px;
  margin-left: 200px;
}

.boxes-home{
  background-color: white;
  border-radius: 15px;
  padding-top: 10px;
  margin-left: 20px;
  margin-top: 25px;
  display: inline-block;
  max-width: 1100px;
}

.boxes-home h3{
  padding: 0px 10px;
}
.home-text{
  padding: 0px 10px;
}
.boxes-home a{
  font-size: 15px;
  text-decoration: none;
  color: #145F91;
}
.boxes-home a:hover{
  color: #3498db;
}

.Warrantyform {
background-color: white;
margin-left: 50%;
height: auto;
width: 400px;
border-radius: 10px;
box-shadow: 0px 0px 5px 0 #777;
}

.form-group{
    padding-top: 10px;
    margin-left: 20px;
}
.form-control{
  margin: 0;
  outline: none;
  width: 325px;
  height: 20px;
  border-radius: 5px;
  border: 2px solid black;
}

.form-control:hover{
  border-color: #3498db;
}

#purchaseDate{
  outline: none;
  border-radius: 5px;
  border: 2px solid black;
  height: 25px;
}
#purchaseDate:hover{
    border-color: #3498db;
}
.help-block{
  color: red;
  font-size: 14px;
}

#submit-btn{
  margin-left: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: white;
  border:2px solid #3498db;
  width: 100px;
  height: 25px;
}

#submit-btn:hover{
  background-color: #3498db;
  color:white;
}

#invoice{
  color:red;
}

#formsent{
  font-size: 20px;
  color:#00CC00;
}

#current{
  background-color: #2ecc71;
}


.account-box{
  background-color: white;
  border: 1px solid white;
  height: 330px;
  width: 800px;
  margin-top: 25px;
  margin-left: 100px;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 #777;
}

.account-box label{
  font-size: 20px;

}

.account-group{
  margin-left: 15px;
  margin-top: 20px;
}

.account-group{
  padding-left: 10px;
  padding-top: 5px;
}
.account-group span {
  margin-top: 10px;
  background-color: #E0E0E0;
  height: 20px;
  padding: 5px 15px 5px 15px;
  border-radius: 5px;
  display: inline-block;
}

.products-box,.formsent-box{
  background-color: white;
  border: 1px solid white;
  height: auto;
  width: 800px;
  margin-top: 25px;
  margin-left: 100px;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 #777;
}
.products-box,.formsent-box {
  border-collapse: collapse;
}

.productstable,.formstable {
    margin: 15px 25px 25px 35px;
}

.productstable th,td,.formstable th,td{
  border: 1px solid #ddd;
  padding: 8px;
}

.productstable tr:nth-child(odd),.formstable tr:nth-child(odd){
  background-color: #f2f2f2;
}

.productstable tr:hover,.formstable tr:hover {
  background-color: #ddd;
}

.productstable th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #2ecc71;
  color: white;
}

#producth3{
  margin: 10px 25px 0px 15px;
  padding: 5px 5px;
  background-color: #2ecc71;
  color: white;
  border-radius: 5px;
  width: 110px;
}

#formh3{
  margin: 10px 25px 0px 15px;
  padding: 5px 5px;
  background-color: #3498db;
  color: white;
  border-radius: 5px;
  width: 85px;
}

.formstable th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #3498db;
  color: white;
}

#changepassword-btn{
  text-decoration: none;
  color: black;
  margin: 20px 30px;
  padding: 5px;
  display: inline-block;
  width: auto;
  height: auto;
  border: solid black 1px;
  border-radius: 5px;
}

#changepassword-btn:hover{
  background-color: #3498db;
  color: white;
  border-color: white;
}
